In [4]:
#SEPTEMBER 01, 2020
#Dictionary: It is an unordered data type/data structure that is also known as Mapping. It is Mutabe. It can store different data type values. The {} curly braces are used to define a dictionary.  A dictionary contains a KEY and its VALUE. Both are separated from each other using : colon

#Syntax: dictionary={key:value,key1:value1,key2:value2,....}
d={}  #empty dictionary
print(d)
d={'3':'Aarti','2':'Aashish','1':'Anshika'}
print(d)
print()
#Accessing Dictionary
print(d.values())  #method values() displays all values of dictionary
print()
print(d.keys())    #method keys() displays all keys of dictionary
print()
#Accessing values using a key
print(d['1'])
print(d['3'])

{}
{'3': 'Aarti', '2': 'Aashish', '1': 'Anshika'}

dict_values(['Aarti', 'Aashish', 'Anshika'])

dict_keys(['3', '2', '1'])

Anshika
Aarti

In [16]:
#Storing many value in dictionary
n=["aarti","Rishabh","Tanush","Tanishq","Mimansa"]
m=[9999999999,1111111111,2222222222,4444444444,5555555555]
d={'names':n,'mobile':m}
print(d)
print(d.keys())
print(d['names'])
print(d['mobile'])

{'names': ['aarti', 'Rishabh', 'Tanush', 'Tanishq', 'Mimansa'], 'mobile': [9999999999, 1111111111, 2222222222, 4444444444, 5555555555]}
dict_keys(['names', 'mobile'])
['aarti', 'Rishabh', 'Tanush', 'Tanishq', 'Mimansa']
[9999999999, 1111111111, 2222222222, 4444444444, 5555555555]

In [3]:
#STORING VALUES AS PER USER'S CHOICE
n=[]
m=[]
num=int(input("Enter number of persons to store data "))
for i in range(0,num):
    n.append(input("Enter Name "+str(i+1)))
    m.append(input("Enter Mobile Number "))

d={'names':n,'mobile':m}
print(d)

#September 02, 2020
#you will use it later
import pandas as pd 
df=pd.DataFrame(d)
df

{'names': ['anshika', 'Ashish', 'mimansa', 'mohnish', 'yuvika'], 'mobile': ['1111111111', '2222222222', '3333333333', '5555555555', '6666666666']}

     names      mobile
0  anshika  1111111111
1   Ashish  2222222222
2  mimansa  3333333333
3  mohnish  5555555555
4   yuvika  6666666666

In [23]:
#September 02, 2020
#MEMBERSHIP OPERATION
#It is used determine the presence of value/letter inside string, tuple and list. It returns True when found otherwise it returns False

d={'3345':'Aarti','2145':'Aashish','1843':'Anshika'}
print(d)
if '2145' in d:
    print("Found in dictionary")
else:
    print("Not found in dictionary")

item=input("Enter a key to search in dictionary ")

#taking a value for the key to be searched in dictionary using membership operator "in"
if item in d:
    print("Found in dictionary")
else:
    print("Not found in dictionary")

{'3345': 'Aarti', '2145': 'Aashish', '1843': 'Anshika'}
Found in dictionary

Found in dictionary

In [32]:
#Dictionary is Mutable (Modifiable)
d={'3345':'Aarti','2145':'Aashish','1843':'Anshika'}
d['2145']="Aashish Nautiyal"
print(d)

{'3345': 'Aarti', '2145': 'Aashish Nautiyal', '1843': 'Anshika'}

In [33]:
#adding new key and its value in Dictionary
d={'3345':'Aarti','2145':'Aashish','1843':'Anshika'}
d['2145']="Aashish Nautiyal"
print(d)

k=input("Enter new Key ")
v=input("Enter new value for above key ")
d[k]=v
print(d)

{'3345': 'Aarti', '2145': 'Aashish Nautiyal', '1843': 'Anshika'}
{'3345': 'Aarti', '2145': 'Aashish Nautiyal', '1843': 'Anshika', '1234': 'Rishabh'}

In [4]:
#Traversing dictionary: It means reading all the values of dictionary
d={'3345':'Aarti','2145':'Aashish','1843':'Anshika'}
print(d['2145']) #it will print value of key 2145 i.e. Ashish Nautiyal
print()
print("ADMNO NAMES")
for i in d:
    print(i,d[i])

Aashish

ADMNO NAMES
3345 Aarti
2145 Aashish
1843 Anshika

In [9]:
#Sep 03, 2020
#DICTIONARY METHODS/IN-BUILT FUNCTIONS
d={'3345':'Aarti','2145':'Aashish','1843':'Anshika'}
count=len(d)
print("total number of items in dictionary are ",count)
d['1234']="Hitansh"
count=len(d)
print("total number of items in dictionary are ",count)

#finding length of dictionary
c=0
for i in d:
    c+=1
print("total elements in dictionary are ",c)

total number of items in dictionary are  3
total number of items in dictionary are  4
total elements in dictionary are  4

In [1]:
#the dict(): It is used to define a dictionary using pre-existing set of values
record=[("Mohan",95),("Ram",85),("Suhel",92)]
print(record)
#use of dict()
d=dict(record)
print(d)

#keys(): It is used to print all the keys of dictionary
print("Keys of dictionary are  ",d.keys())

#values(): It is used to print all the values of dictionary
print("Values of dictionary are ",d.values())

#items(): it is used to access all elements(key:value) of dictionary
print("Items in Dictionary are ",d.items())

[('Mohan', 95), ('Ram', 85), ('Suhel', 92)]
{'Mohan': 95, 'Ram': 85, 'Suhel': 92}
Keys of dictionary are   dict_keys(['Mohan', 'Ram', 'Suhel'])
Values of dictionary are  dict_values([95, 85, 92])
Items in Dictionary are  dict_items([('Mohan', 95), ('Ram', 85), ('Suhel', 92)])

In [11]:
#September 04, 2020
record={1: 'Aarti',2:'Aashish',3:'Anshika'}
d={4:'Deepankar','5':'Khushi'}
print(record)
print(record[2])

#get(arg): It takes a key as its arguemnt and returns equivalent value 
print("Using get() Method ",record.get(2))

#update(dictionary_arg): It is used append another dictionary passed as argument
record.update(d)
print(record)

#clear(): It is used to clear/remove all dictinary elements. But dictionary will remain 
print(d)
d.clear()
print(record)
print(d)

{1: 'Aarti', 2: 'Aashish', 3: 'Anshika'}
Aashish
Using get() Method  Aashish
{1: 'Aarti', 2: 'Aashish', 3: 'Anshika', 4: 'Deepankar', '5': 'Khushi'}
{4: 'Deepankar', '5': 'Khushi'}
{1: 'Aarti', 2: 'Aashish', 3: 'Anshika', 4: 'Deepankar', '5': 'Khushi'}
{}

In [15]:
#del : The keyword del is used to delte a dictionary

d={4:'Deepankar','5':'Khushi'}
print(d)
del d

{4: 'Deepankar', '5': 'Khushi'}

In [18]:
#practice
list=[1,2,3,4,5]
print(list[:]) #entire list will be printed
print(list[2:])
print(list[2:3])
#list[startvalue:endvalue:jump]
print(list[::-2])
print(list[::2])
max(list)

[1, 2, 3, 4, 5]
[3, 4, 5]
[3]
[5, 3, 1]
[1, 3, 5]

5

In [17]:
#September 08, 2020
#discussion
strRecord=['Raman','A-36',[56,98,99,72,69],78.8]
print(strRecord)
print("Percentage = ",strRecord[3])
print("Marks in 5 subjects=",strRecord[2])
print("Marks in 5th Subject",strRecord[2][4])
print("Max Makrs=",max(strRecord[2]))

['Raman', 'A-36', [56, 98, 99, 72, 69], 78.8]
Percentage =  78.8
Marks in 5 subjects= [56, 98, 99, 72, 69]
Marks in 5th Subject 69
Max Makrs= 99

In [13]:
#September 10, 2020 
#finding occurence of a given number in list, Q.No.1
list=[]
n=int(input("Enter number of values to store in list"))
for i in range(0,n):
    item=int(input("Enter a value "))
    list.append(item)
print(list)
search=int(input("Enter a value to find its occurence"))
times=list.count(search)
print(str(search)+" present in list "+(str(times))+" times")

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4]
1 present in list 3 times

In [1]:
#program to separate negative and positive numbers from a list
n=int(input("Enter limit of values "))
list=[]
i=1
neg=[]
pos=[]

print("Enter ",n," values")
while i<=n:
    item=int(input())
    list.append(item)
    i=i+1
print("items in list are ",list)

#seprating negative and positive values from list
for i in range(0,n):
    if list[i]<0:
        neg.append(list[i])
    elif list[i]>0:
        pos.append(list[i])
print("Negative Values",neg)
print("Positive Values",pos)

Enter  5  values
items in list are  [-1, 0, -2, 5, 4]
Negative Values [-1, -2]
Positive Values [5, 4]

In [7]:
week={1:"Sunday", 2:"Monday", 3:"Tuesday", 4:"Wednesday", 5:"Thursday"}
num=int(input("Enter day to find its name"))
if num in week:
    print(week[num])
else:
    print("Sorry no match")

Sorry no match

In [9]:
vowels="aeiou"
string="Informatics Practices"
for i in vowels:
    if i in string:
        print(string.index(i))

6
19
8
3

In [2]:
#September 11, 2020
list=[1,5,7,9,11]
print("Original List values ",list)
item=int(input("Enter an item to insert"))
pos=int(input("Enter index at which above item is to be stored"))
list.insert(pos,item)
print("List after inserting a new value ",list)

Original List values  [1, 5, 7, 9, 11]
List after inserting a new value  [1, 2, 5, 7, 9, 11]

In [ ]:
fhv=0
shv=0
list=[10,20,50,25]
for i in range(0,len(list)):
    if list[i]>fhv:
        fhv=list[i]

print("First highest value ",fhv)

In [ ]:
#randint(sv,end): returns random values between sv (starting value) and ev (ending vlaue) including both
from random import * #to import all function in library random such as randint()
string="w3resource"
l=len(string)
d={}
for i in range(0,9):
    pos=randint(i,9)
    d[string[pos]]=pos
print(d)

In [1]:
import pandas as pd
addrbook={}
choice=' '
while choice !='n':
    name=input("Enter Name ")
    mobile=input("Enter Mobile Number ")
    addrbook[name]=mobile  #TO ADD KEY name AND VALUE mobile INSIDE addrbook DICTIONARY
    print("\n\nWant to add more in phone book (y/n)? ")
    choice=input()
print("Details in Phone book are ",addrbook)

Enter Name aarti shokeen
Enter Mobile Number 1234567890


Want to add more in phone book (y/n)?
y
Enter Name anshika
Enter Mobile Number 8888888888


Want to add more in phone book (y/n)?
y
Enter Name aashish nautiyal
Enter Mobile Number 777777777


Want to add more in phone book (y/n)?
n
Details in Phone book are  {'aarti shokeen': '1234567890', 'anshika': '8888888888', 'aashish nautiyal': '777777777'}

In [6]:
#reading keys and values from user
d={}
for i in range(0,4):
    rno=input("Enter roll number ")
    name=input("Enter student name ")
    d[rno]=name
print(d)

Enter roll number 1
Enter student name rishita
Enter roll number 2
Enter student name yashita
Enter roll number 3
Enter student name Harshita
Enter roll number 4
Enter student name Yashshre
{'1': 'rishita', '2': 'yashita', '3': 'Harshita', '4': 'Yashshre'}

In [9]:
# /
print(10/3)
print(10//3)
print(10%3)

3.3333333333333335
3
1

In [18]:
#membership operator in and not in
#in: it returns true when a value is present in list or string or tuple or dictionary 
#not in: it returns true when a value is not present, false if it is present in list, dictionary, tuple, string

name="yashita"
marks=[10,20,50,100]

ans='a' in name
result=1000 in marks
print(ans, result)

if 'a' in name:
    print("present")

True False
present

In [3]:
#wap to input a string and count number of words and spaces in it

string=input("Enter a string ")
space=' '
cs=0
cw=0
for i in string:
    if i==space:
        cs+=1
print("String is ",string)
print("spaces in it are ",cs)
print("No. of words in string are ",str(cs+1))

String is  i am a student of dav
spaces in it are  5
No. of words in string are  6

In [4]:
string=input("Enter a string ")
space=' '
cs=0
cw=0
cs=string.count(space)
print("String is ",string)
print("spaces in it are ",cs)
print("No. of words in string are ",str(cs+1))

String is  i am a student
spaces in it are  3
No. of words in string are  4

In [7]:
import pandas as pd 
import mysql.connector as sqlcon

d={}
n=[]
m=[]
df=pd.DataFrame()


#to load data already present in table contact
def loaddata():
    try:
        con=sqlcon.connect(host="localhost",user="root",passwd="tiger",database="ip2021")
        if con.is_connected():
            print('Connected to MySQL')
            df=pd.read_sql("select * from contact;",con)
            print(df)
            con.close()
    except:
        print("loadData Error: Sorry! Connection Problem or Database/Table does not exist..")
        input("Press a key to continue....")


#to add name and contact in using lists
def addcon(): 
    try:
        ans='y'
        while ans=='y':
            n.append(input("Enter Name "))
            m.append(input("Enter Mobile No. "))
            ans=input("Add More Contacts y/n ")
    
        d={'Name':n, 'Mobile':m}
        df=pd.DataFrame(d)
        engine=create_engine('mysql+pymysql://root:tiger@localhost/ip2021')
        con=engine.connect()
        df.to_sql('contact',con,index=False,if_exists='replace')
    except:
        print("addCon Error: while adding data to database/table..")
    
#to add lists in dictionary and display all contacts through dataframe
def dispcon():
    loaddata()  
    print(df)

#to seach and name and its mobile number 
def searchcon(): 
    
    try:
        sname=input("Enter a name to find Mobile Number ")
        ndf=df[df['Name']==sname]
        print(ndf)
        input("Press a key to continue...")
    except:
        print("Exception Handling Error")

#to search a name and modify mobile number
def modifycon():
    sname=input("Enter a name to find Mobile Number ")
    if sname in d:
        nm=input("Enter New Mobile Number")
        d[sname]=nm
        input("Mobile Number Updated, Press a key to continue...")
    else:
        print("Sorry "+sname+" not in database")
        input("Press a key to continue...")


#loop to display a menu of options & execute required above function
ch=' '
while ch!='0':
    print('''
    MAIN MENU
    0. EXIT
    1. ADD NEW CONTACT
    2. DISPLAY ALL
    3. SEARCH A NAME
    4. MODIFY A MOBILE NUMBER
    5. DELETE A RECORD

    ''')
    ch=input("Enter Your Choice 0-5 ")
    if ch=='1':
        addcon()  #calling addcon() function
    elif ch=='2':
        dispcon()   #calling dispcon() function
    elif ch=='3':
        searchcon()  #calling searchcon() function

    MAIN MENU
    0. EXIT
    1. ADD NEW CONTACT
    2. DISPLAY ALL
    3. SEARCH A NAME
    4. MODIFY A MOBILE NUMBER
    5. DELETE A RECORD


Connected to MySQL
Sorry! Connection Problem or Database/Table does not exist..
Error while adding data to database/table..
Data added to contact table successfully!

    MAIN MENU
    0. EXIT
    1. ADD NEW CONTACT
    2. DISPLAY ALL
    3. SEARCH A NAME
    4. MODIFY A MOBILE NUMBER
    5. DELETE A RECORD


Connected to MySQL
Sorry! Connection Problem or Database/Table does not exist..
Empty DataFrame
Columns: []
Index: []

    MAIN MENU
    0. EXIT
    1. ADD NEW CONTACT
    2. DISPLAY ALL
    3. SEARCH A NAME
    4. MODIFY A MOBILE NUMBER
    5. DELETE A RECORD

In [18]:
import pandas as pd 
n=["ram","shyam","balram"]
m=[1111111111,222222222,333333333]
d={'name':n,'mobile':m}
df=pd.DataFrame(d)
df

     name      mobile
0     ram  1111111111
1   shyam   222222222
2  balram   333333333

In [20]:
sname=input("Enter name to search mobile number ")
df[df['name']==sname]

    name     mobile
1  shyam  222222222